.container {
    /* background-color: red; */
    display: block;
}

.about {
    height: 50%;
    /* background-color: green; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about p {
    font-size: 20px;
}

.about button {
    background-color: transparent;
    color: black;
}

.cards {
    padding: 50px;
    height: 50%;
    /* background-color: grey; */
    display: flex;
}

.card1 {
    background-color: rgb(221, 82, 72);
    height: 300px;
    padding: 30px;
    color: white;
}

.card1 h1 {
    font-size: 20px;
}

.card1 button {
    color: white;
    border-color: wheat;
    background-color: transparent;
}

.card2 {
    text-align: center;
    height: 300px;
    padding: 30px;
    background-color: rgb(222, 217, 208);
}

.card2 img {
    align-items: center;
    height: 100px;
    width: 100px;
}

.card2 h1 {
    font-size: 20px;
}

.card2 button {
    margin-top: 60px;
    color: rgb(221, 82, 72);
    border-color: rgb(221, 82, 72);
    background-color: transparent;
}

.card3 {
    text-align: center;
    height: 300px;
    padding: 30px;
    background-color: rgb(222, 217, 208);
}

.card3 img {
    align-items: center;
    height: 100px;
    width: 100px;
}

.card3 h1 {
    font-size: 20px;
}

.card3 button {
    margin-top: 60px;
    color: rgb(221, 82, 72);
    border-color: rgb(221, 82, 72);
    background-color: transparent;
}