
<div class="pc-tab">
    <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />
    <input id="tab3" type="radio" name="pct" />
    <input id="tab4" type="radio" name="pct" />
    <input id="tab5" type="radio" name="pct" />
    <input id="tab6" type="radio" name="pct" />
    <input id="tab7" type="radio" name="pct" />

    <nav>
        <ul>
            <li class="tab1">
                <label for="tab1">INTRODUCTION</label>
            </li>
            <li class="tab2">
                <label for="tab2">ORIGIN</label>
            </li>
            <li class="tab3">
                <label for="tab3">MISSION & ADVICE</label>
            </li>
            <li class="tab4">
                <label for="tab4">WONDERFUL INCARNATION</label>
            </li>
            <li class="tab5">
                <label for="tab5">UDI</label>
            </li>
            <li class="tab6">
                <label for="tab6">PERSONALITY</label>
            </li>
            <li class="tab7">
                <label for="tab7">PERSONAL BELONGINGS</label>
            </li>
        </ul>
    </nav>
    <section>
        <div class="tab1">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/introduction-sai-baba.jpg" alt=""
                        class="img-responsive floating-image right">
                    <p>The extracts in this anthology are taken from Shri Sat Charitra. They comprise part of
                        Chapters in which the author, Shri Govind Raghunath Dabolkar alias Hemadpant refers to
                        Saibaba his devotees and vision.</p>

                    <h1>Shri Sai Baba</h1>

                    <p>Shri Sai Baba is revered as one of the greatest saints ever seen in India, endowed with
                        unprecedented powers, and is worshipped as a God incarnate. (SAI meaning Sakshaat Ishwar) -
                        GOD THE ABSOLUTE</p>

                    <p>This mysterious Fakir first made his appearance in Shirdi as a youth and remained there
                        throughout his long life. HE transformed the lives of those who met him and continuously is
                        doing so even after his Samadhi in 1918 for those whose hearts are touched by his love and
                        who pray and call him at any emergency in life for his blessings.</p>

                    <p>Baba stated that his mission is to “Give Blessings” without discrimination to all, and he
                        proves it in myriad ways by healing the sick, saving lives, protecting the vulnerable,
                        averting accidents, granting offspring, facilitating financial gain, bringing people into
                        harmony within themselves and with each other and, above all, in effecting the spiritual
                        evolution and transformation of those who came to him as the last resort.</p>

                    <p>Baba is, as one of his contemporary devotees put it, “The embodiment of the Supreme Spirit
                        lighting the sadhaka's (seekers') path by His every word and action”.</p>

                    <p>To his devotees, Baba is nothing less than a GOD. This has been a matter of experience and
                        not imaginary.</p>

                    <p>“I look at all with an equal eye”</p>

                    <p>An outstanding aspect of Sai Baba is that he is beyond distinctions of religion, caste or
                        creed. He embodied all religions and preached the Universal religion of Love.</p>

                    <p>Devotees of all faiths find their meeting point in the Sai and people from all communities
                        and all walks of life are united by the great love and reverence Baba inspires in them. Baba
                        had great regard for his Hindu devotees and their Gurus and he responded to their needs and
                        permitted worship according to the Hindu and other religious rituals. At the same time his
                        dwelling place was a Masjid (Mosque) and the name of Allah was ever on his lips. HE
                        described himself as in Service to GOD (ALLAH) and as a soul ever remembering ALLAH -(YAD -
                        A - HAKKA)</p>

                    <p>People today flock Shirdi in ever-increasing numbers to pay homage to the Divine and to
                        experience the truth of Baba’s promise that He would be active in answering devotees'
                        prayers even from his tomb. Like Ten Commandments BABA has given eleven assurances to
                        humanity for welfare.</p>

                    <p>Baba said that he was a slave in the service of those who loved him that he was ever living
                        to help those who turn to him and that he has to take care of his children day and night. He
                        then taught the values of total surrender to the Almighty Master (ALLAH MALIK EK- The only
                        ONE) and experience his grace.</p>

                    <p>In coming to Baba’s Shirdi His children experience the truth how BABA unfailingly fulfil his
                        commitments to his devotees by coming to their rescue in times of crisis.</p>

                </div>
            </div>
        </div>
        <div class="tab2">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/origin.jpg" alt=""
                        class="img-responsive floating-image right">
                    <h2>Origins and First Appearance</h2>

                    <p>Nobody knew the parents, birth or birthplace of Sai Baba. Many inquiries were made, many
                        questions were put to Baba and others regarding these details, but no convincing answer or
                        information has yet been obtained. Practically we know nothing about these matters. When
                        asked about his relatives and other details he gave only one answer:'From very long'.</p>
                    

                    <p>Note: These words uttered by SAI BABA have been actually heard by the daughter-in-law of Mrs
                        Bayajamaa Kote Patil. She was a witness to the dialogue between Mrs Bayajamaa Kote Patil and
                        BABA who came for Bhiksha at Mrs Bayaja's place.</p>

                    <p>He first manifested himself as a young lad of sixteen under a Neem tree in Shirdi for the
                        sake of Bhaktas. Even then He seemed to be full with the knowledge of a Brahman (the only
                        one Universal force or energy governing all matters). He had no desire for worldly objects
                        and pleasures even in dream. He renounced Maya (delusion) and Mukti (deliverance) was at his
                        feet. With his blessings many souls attained liberation.For all the seekers he uttered only
                        three words- 'ALLAH ACHCHA KAREGA' by way of his blessings. Everything will be fine by the
                        GRACE OF GOD.</p>

                    <h2>One old woman of Shirdi described him as follows:</h2>

                    <p>This young lad, fair, smart and very handsome was first seen under the Neem tree seated in an
                        ‘asana’ (a Yoga posture). The people of the village were wonder-struck to see such a young
                        lad practicing hard penance, not minding heat and cold. By day he associated with none, by
                        night he was afraid of nobody. People were wondering and asking, when this young chap had
                        turned up. His form and features were so beautiful that a mere look endeared Him to all. He
                        went to nobody’s door, always sat near the neem tree. Outwardly he looked very young; but by
                        his action he appeared to be really a Great Soul. He was the embodiment of dispassion and
                        was an enigma to all. Nobody knew his where about and his mysterious behavior (Leelas).</p>
                    

                    <p>It is said that one day, God Khandoba at Shirdi possessed the body of some devotee and people
                        began to ask Him, "Deva (God), you please enquire what blessed father’s son is this lad and
                        when did He come".</p>

                    <p>God Khandoba asked them to bring a pickaxe and dig at a particular place. When it was dug,
                        bricks were found underneath a flat stone. When the stone was removed, a corridor led to a
                        cellar where cow-mouth-shaped structures, wooden boards, necklaces were seen.</p>

                    <p>Khandoba said, "This lad practiced penance here for 12 years." When the people began to
                        question the lad about this, He put them off by telling them that it was His Guru’s place,
                        His holy ‘Watan’ (inheritance) and requested them to guard it well.</p>

                    <p>The young Baba thus stayed on in Shirdi for a period of three years. Then, all of a sudden,
                        He disappeared. After some time, He reappeared in the Nizam State near Aurangabad and
                        eventually again returned to Shirdi with the marriage party of one Chand Patil, when He was
                        twenty years old.</p>

                    <h2>Return to Shirdi</h2>

                    <p>There lived in the Aurangabad district (Nizam State), in a village called Dhoop, a well-to-do
                        Mohammedan gentleman by the name Chand Patil. While he was making a trip to Aurangabad, he
                        lost his mare. For two long months, he made a diligent search but could get no trace of the
                        lost mare. After being disappointed, he returned from Aurangabad with the saddle on his
                        back. After travelling four Koss and a half, he came, on the way, to a mango tree under the
                        foot of which sat a fakir (queer fellow). He had a cap on His head, wore Kafni (long robe)
                        and had a "Satka" (short stick) under his armpit and he was preparing to smoke a Chillim
                        (pipe). On seeing Chand Patil pass by the way, he called out to him and asked him to have a
                        smoke and to rest a little. The Fakir asked him about the saddle. Chand Patil replied that
                        it was of his mare, which was lost. The queer fellow or Fakir asked him to make a search in
                        the Nala(small stream) close by. He went and the wonder of wonders! he found out the mare.
                        He thought that this Fakir was not an ordinary man, but an Avalia (a great saint), A queer
                        personality. He returned to the Fakir with the mare. The Chillim was ready for being smoked,
                        but two things were wanting; (1) fire to light the pipe, and (2) water to wet the chhapi
                        (piece of cloth through which smoke is drawn up). The Fakir took his prong and thrust it
                        forcibly into the ground and out came a live burning coal, which He put on the pipe. Then He
                        dashed the Satka on the ground from whence water began to ooze. The chhapi was wetted with
                        that water, was then wrung out and wrapped round the pipe. Thus everything being complete,
                        the Fakir smoked the Chillim and then gave it also to Chand Patil. On seeing all this, Chand
                        Patil was wonderstruck. He requested the Fakir to come to his home and accept his
                        hospitality. Next day he went to the Patil’s house and stayed there for some time. The Patil
                        was a village officer of Dhoop. His wife’s brother’s son was to be married and the bride was
                        from Shirdi. So Patil made preparations to start for Shirdi for the marriage. The Fakir also
                        accompanied the marriage-party. The marriage went off without any hitch, the party returned
                        to Dhoop, except the Fakir alone stayed in Shirdi and remained there forever.</p>

                    <h2>How the Fakir got the name ‘Sai’</h2>

                    <p>When the marriage - party came to Shirdi, it alighted at the foot of a Banyan tree in Bhagata
                        Mhalsapati’s field near Khandoba’s temple. The carts were loosened in the open courtyard of
                        Khandoba’s temple and the members of the party descended one by one, and the Fakir also got
                        down. Bhagat Mhalsapati saw the young Fakir getting down and spontaneously accosted Him "YA
                        SAI" (Welcome Sai). Others also addressed Him as Sai and thenceforth he became known as Sai
                        Baba.</p>

                    <p>Upon his return to Shirdi, Baba stayed there for an unbroken period of sixty years, after
                        which He took His Maha-Samadhi in the year 1918.</p>

                    <p>Initially, Sai Baba stayed on the outskirts of the village of Shirdi, then under a neem tree
                        for four to five years at the spot now called Gurusthan, before shifting to an abandoned
                        mosque which later became known as Dwarkamai.</p>

                    <p>Slowly his greatness was revealed and his fame spread far and wide, until by the end of his
                        life he was attracting thousands of people to Shirdi. In the last decade of his life, Baba
                        was worshipped with all pomp and ceremony and the mosque was likened to a maharajah’s
                        ‘darbar’, yet Baba never changed His simple and austere lifestyle of the Puritans.</p>
                </div>

            </div>
        </div>
        <div class="tab3">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/mission-and-advice.png" alt=""
                        class="img-responsive floating-image right">
                    <h2>Sai Baba’s Mission and Advice</h2>

                    <p>Saint Ramadas (1608-1681) flourished in the 17th century and fulfilled to a great extent his
                        mission of protecting the helpless cows and Brahmins against the Yavanas powerful
                        (Mohammedans or Followers of Islam), but within two centuries after him, the split between
                        the two communities -- Hindus and Mohammedans widened again, and it is believed that Sai
                        Baba came to bridge the gulf.</p>

                    <p>His constant advice to all was to this effect. God is the only One Almighty Master of all
                        souls and never discriminates while showering his Love on the souls who are all equals
                        before him. He loves every soul irrespective of his/her vices or virtues. "Rama (the God of
                        the Hindus) and Rahim (the God of the Mohammedans) are one and the same; there is not the
                        slightest difference between them; then why should their devotees quarrel among themselves?
                        You ignorant folk, children, join hands and bring both the communities together, act sanely
                        and thus you will gain your object of national unity. It is not good to dispute and argue.
                        So don't argue, don't emulate others. Always consider your interest and welfare. The Lord
                        will protect you. Yoga, sacrifice penance, and knowledge are the paths (means) to attain
                        God. If you do not succeed in this by any means, invain is your birth. If any one does any
                        evil unto you, do not retaliate. If you can do anything, do some good unto other." Baba
                        shall always support any truthful thought or action.</p>

                    <p>This, in short, was Sai Baba's advice to all; and this will stand in good stead both in
                        material and spiritual matters. Baba assured, without any discrimination, all the seekers
                        (MUMUKSHUS) His divine and unfailing support for material welfare and spiritual elevation.
                        There is no soul in the world who has not experienced Baba's instant support and protection
                        in moment of crisis.</p>

                    <h2>Sai Baba as Satguru</h2>

                    <p>There are many so-called Gurus, (imposters) who go about from house to house with cymbals and
                        veena in their hands, and make a show of their spirituality. They blow mantras into the ears
                        of their disciples and extract money from them. They profess to teach piety and religion to
                        their disciples, but are themselves impious and irreligious. Sai Baba never thought of
                        making the least show of his worth (piety). Body-consciousness, he had none, but he had
                        great love for the disciples. There are two kinds of Gurus:</p>

                    <p>(1) 'Niyat' (appointed or fixed) and (2) 'Aniyat' (unappointed or general). The latter by
                        their advice develop the good qualities in us, purify our hearts and set us on the path of
                        salvation; but contact with the former, dispels our duality (sense of difference); and
                        establishes us in Unity by making us realize "Thou art that" there are various Gurus
                        imparting various kinds of wordy knowledge, but he, who fixes us in our Nature (Self) and
                        carries us beyond the ocean of wordy existence, is the Satguru. Sai Baba was such a Satguru.
                        He always said, 'Words create delusion (MAYA BHRAMA) But Company of Sat Guru (SATSANG)
                        imparts knowledge by removing ignorance. His greatness is undescribable. If anybody went to
                        take His darshana, he, without being asked, would give every detail of his past, present and
                        future life. He saw Divinity in all beings. Friends and foes, the virtuous and the vicious
                        were alike to Him. Disinterested and equal-balanced, He obliged also the evildoers. He was
                        the same in prosperity and adversity. No doubt, ever touched Him. Though He possessed the
                        human body, He was not in the least attached to his body or house. Though he looked
                        embodied, he was really disembodied, i.e., free in this every life (MUKTATMA).</p>
                </div>
            </div>
        </div>
        <div class="tab4">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/wonderful-incarnation.jpg" alt=""
                        class="img-responsive floating-image right">
                    <h2>Wonderful Incarnation</h2>

                    <h4>Sai Baba as a Yogi- Satchidanand SATGURU</h4>

                    <p>Sai Baba knew all yogic practices. He was well versed in the six processes, including Dhauti,
                        Khandayoga and Samadhi, etc. He demonstrated His mastery over yogic exercises many a times.
                    </p>

                    <p>Yet, if you think that he was a Hindu, He looked like a Yavan. If you think Him to be a
                        Yavan, he looked like a pious Hindu. Definitely no one knew whether he was a Hindu or a
                        Mohammedan. Inferences could be drawn from His dress or body features, but all such
                        superficial inferences were meaningless. They did not serve any purpose.</p>

                    <p>He celebrated the Hindu festival of Rama-Navami with all due formalities and at the same time
                        permitted the ‘Sandal’ procession of the Mohammedans. He encouraged wrestling bouts in this
                        festival and gave good prizes to winners. When the Gokul Ashtami came, he got the
                        ‘Gopal-Kala’ ceremony duly performed and on Id festivals, he allowed Mohammedans to say
                        their prayers (Namaj) in his masjid.</p>

                    <p>Once at the Moharum festival, some Mohammedans proposed to construct a Tajiya or Tabut in the
                        Masjid, keep it there for some days and afterwards take it in the procession through the
                        village. Sai Baba allowed the keeping of the Tabut for four days and on the fifth day
                        removed it out of the Masjid without the least compunction. He allowed all the devotees to
                        celebrate festivals at Shirdi according to their preferences and the various religious in
                        vogue adopted by them. In Baba's Masjid except a garlanded wall there is no image or
                        photograph of any deity.</p>

                    <p>If we say that he was a Mohammedan, his ears were pierced (i.e. had holes according to Hindu
                        fashion). If you think that he was a Hindu, he advocated the practice of circumcision
                        (though according to Mr Nanasaheb Chandorkar, who observed him closely, he was not himself
                        circumcised. Wide article in Sai Leela on "Baba Hindu Ki Yavan" by B.V. Deo, page 562). If
                        you call him a Hindu, he always lived in the Masjid; If Mohammedan, he had always the Dhuni
                        - sacred fire there, and the following things which are contrary to Mohammedan religion,
                        i.e., grinding on the hand mill, blowing of the conch and bells, oblation in the fire,
                        Bhajan, giving of food, and worship of Baba’s Feet by means of ARDHYA (water) were always
                        allowed there. If you think that he was a Mohammedan, the best of Brahmins and Agnihotris,
                        leaving aside their orthodox ways, fell prostrate at his feet. Those who went to make
                        inquiries about his nationality were dumbfounded and were captured by his Darshana. He gave
                        visions of all the respective Gurus and deities according to devotees choice whether
                        expressed or hidden. Baba, when asked about his creed, to that he belonged to a Saint
                        Kabir's creed.</p>

                    <p>So none could definitely decide whether Sai Baba was a Hindu or a Mohammedan. This is no
                        wonder; for he who completely surrenders himself to the Lord, by getting rid of his egoism
                        and body - consciousness thus becomes one with him, and has nothing to do with any questions
                        of caste or nationality. Such a one as Sai Baba was, saw no difference between caste and
                        among beings and beings. He took meat and fish with Fakirs, but did not grumble when dogs
                        touched the dishes with their mouths. Thus Sai Maharaj was beyond all personal references,
                        time and space dimensions.</p>

                    <p>Such a unique and wonderful GOD incarnation was Sai Baba.</p>

                    <p>[* Note--(1) Mhalsapati, an intimate Shirdi devotee of Baba, who always slept with Him in the
                        Masjid and Chavadi, said that Sai Baba told him that he was a Brahmin of Pathari and was
                        handed over to a Fakir in his infancy, and when He told this, some men from Pathari had
                        come, and Baba was inquiring about some men from that place. [Video Sai Leela 1924, Page
                        179. (2) Mrs. Kashibai Kanitkar, the famous learned woman of Poona says of the experience
                        No.8, published on Page 79, Sai Leela Vol. 11,1934, - "On hearing of Baba’s miracles, we
                        were discussing according to our theosophical convention and fashion whether Sai Baba
                        belonged to black or white lodge. When once I went to Shirdi, I was thinking seriously about
                        this in my mind. As soon as I approached the steps of the Masjid, Baba came to the front and
                        pointing to His chest and staring at me spoke rather vehemently -"This is a Brahmin, pure
                        Brahmin. He has nothing to do with black things. No Musalman can dare to step in here. He
                        dare not." Again pointing to his chest - "This Brahmin can bring lacks of men on the white
                        path and take them to their destination. This is a Brahmin’s Masjid and I won’t allow any
                        black Mohammedan to cast his shadow here."]</p>

                    <p>Sai Baba is widely regarded as an incarnation of God, but he always said that he was an
                        obedient servant of God. Though an incarnation he showed the people the way how to behave
                        satisfactorily and carry out the duties of their respective stations (Varnas) in this life.
                        He never emulated others in any way, nor asked others to have something done for him. For
                        him, Who saw the Lord in all movable and immovable things of this world, humility was the
                        most proper thing. None he disregarded or disrespected; for he saw Narayan (Lord) in all
                        beings, he never said, "I am God," but that he was a humble servant and he always remembered
                        him and always uttered - "Allah Malik" (God is the sole proprietor or Owner). By his
                        thoughts and worldly behavior He established ideal values and virtues of faith, patience and
                        humanity. One should concentrate on and do faithfully one's duties assigned to him/her by
                        GOD and wait patiently for the results (fruits) of his action (Karma) because the effect of
                        any cause is always determined by GOD.</p>
                </div>
            </div>
        </div>
        <div class="tab5">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/udi.jpg" alt=""
                        class="img-responsive floating-image right">
                    <h2>Greatness of Udi (ITS MIRACULOUS POWERS)</h2>

                    <p>It is well-known that Baba took Dakshina from all, and out of the amount thus collected, He
                        spent a lot on charity and purchased fuel with the balance left with Him. This fuel He threw
                        in the Dhuni - the sacred fire, which he kept ever burning. The ash from this fire was
                        called Udi and it was freely distributed to the devotees at the time of their departure from
                        Shirdi. Udi or ash is the purest substance on earth having tremendous powers of doing and
                        undoing and is the result of sacrifices offered to fire (agni) which purifies everything by
                        destroying whatever is evil. Performing 'Yagha' (Dhuni) is the most pious ritual recommended
                        in the ancient Vedic literature.</p>

                    <p>There is a deeper underlying significance behind Baba’s practice of distributing Udi. Baba
                        taught by his udi that all the visible phenomena in the universe are as transient as the
                        ash. Our bodies composed of wood or matter of the five elements will fall down, become
                        inanimate after all their enjoyments are over, and will be reduced to ashes. In order to
                        remind the devotees of the fact that their bodies will be reduced to ashes, Baba distributed
                        Udi to them. Baba also taught by the Udi that the Brahma is the only reality and the
                        universe is ephemeral and that no one in this world, be he a son, father or wife, is really
                        ours. We come here (in this world) alone and we have to go out alone. It was found and is
                        even now found out, that the Udi cured many physical and mental maladies, but Baba wanted to
                        din into the devotee's ears the principles of discrimination between the Unreal and the
                        Real, non-attachment for the unreal, by His Udi and Dakshina. The former (Udi) taught us
                        discrimination and the latter (Dakshina) taught us non-attachment. Unless we have these two
                        things, it is not possible for us to cross over the sea of the mundane existence. So Baba
                        asked for and took Dakshina, and while the devotees took leave, He gave Udi as Prasad,
                        besmeared some of it on the Bhaktas' foreheads and placed his boon-conferring hand on their
                        heads. When Baba was in a cheerful mood, he used to sing merrily. One such song was about
                        Udi. The text of the Udi song was, "Oh, playful Rama, come, come, and bring with you sacks
                        of Udi." Baba used to sing in very clear and sweet tones.</p>

                    <p>So much about the spiritual implication of Udi. It had also its material significance. It
                        conferred health, prosperity, freedom from anxiety, and many other worldly gains. So the Udi
                        has helped us to gain both our ends - material as well as spiritual.</p>

                </div>
            </div>
        </div>
        <div class="tab6">
            <div class="container">
                <div class="description-container">
                    <img src="https://sai.org.in/sites/all/themes/sai/img/history/personality.jpg" alt=""
                        class="img-responsive floating-image right">
                    <h2>SaiBaba's Nature and Personality</h2>

                    <p>It is on account of Sai Baba that Shirdi grew into importance. It is interesting to study
                        what sort of a personage Sai Baba was.</p>

                    <p>Sai Baba conquered this Samsar (worldly existence), which is like a deep sea, very difficult
                        and hard to cross. Peace or mental calm was his ornament and he was the repository of
                        wisdom. He was the home of Vaishnava devotees, most liberal (like Karna) amongst liberals,
                        the quintessence of all essences. He had no love for perishable things and was always
                        engrossed in self-realization, which was his sole concern. He felt no pleasure in the
                        mundane things of this world or of the world beyond. His Antarang (heart) was as clear as a
                        mirror and his speech always rained nectar. The rich or poor people were the same to Him. He
                        did not know or care for honor or dishonor.`</p>

                    <p>Baba was the Lord of all beings. He spoke freely and mixed with all people, saw the acting
                        and dances of ‘Nautchgirls’ and heard Gazhal songs. Still, he swerved not an inch from
                        Samadhi (mental equilibrium). The name of Allah was always on his lips. While the world
                        awoke, he slept; and while the world slept, he was vigilant. His abdomen (Inside) was as
                        calm as the deep sea. His Ashram (life-stage) could not be determined, nor his actions could
                        be definitely determined and though he sat (lived) in one place, he knew all the
                        transactions of the world. His darbar was imposing. He told daily hundreds of stories; still
                        he swerved not an inch from his vow of silence. He always leaned against the wall in the
                        Masjid or walked morning, noon and evening towards Lendi (Nala) and Chavadi; still he at all
                        times abided in the Self. Though a Siddha, he acted like a Sadhaka. He was meek, humble and
                        egoless, and pleased all. Such was Sai Baba, and as the soil of Shirdi was trodden by Sai
                        Baba’s feet, it attained extraordinary importance.</p>

                    <p>By day he always sat under the neem tree, sometimes under the shade of a branch of a babul
                        tree near the stream at the outskirts of the village.</p>

                    <p>Many Sanyasis, Sadhakas and all sorts of men aspiring for salvation came to Sai Baba. He
                        always walked, talked and laughed with them and always uttered with His tongue ‘Allah Malik’
                        (God is the sole owner). He never liked or encouraged discussion or arguments. He was always
                        calm and controlled, though irritable at times, always preached full Vedanta and nobody knew
                        till the last the real Baba.</p>

                    <h1>Dress Demeanor and Daily Routine</h1>

                    <p>His demeanor was quiet and sober. However on occasions he used to get ruffled because of some
                        suggestion of calamity or evil in his devotees life. He did not talk frequently and was in
                        trance. His eyes penetrating skies. Since his young days, Sai Baba grew hair on His head,
                        never had His head shaved. He used to wear a piece of white cloth round His head along with
                        a long flowing Kafni. The piece of white cloth on the head was twisted like matted hair and
                        flowed down from the left ear on the back. This was not washed for weeks. He wore no shoes,
                        no sandals. A piece of sackcloth was his seat for most of the day. He wore a coupin
                        (waist-cloth-band) and for warding off cold he always sat in front of a Dhuni (sacred fire)
                        facing South with his left hand resting on the wooden railing. While sleeping in the Chavadi
                        Baba used to rest his head on a brick.</p>

                    <p>Sai Baba visited certain houses daily and went from door to door where he stood as a beggar
                        and called out, "Oh Mai, give me a piece of bread" and spread out his hand to receive the
                        same. In one hand he carried a Tumrel (tinpot) and in the other a Zoli or choupadari, i.e.,
                        a rectangular piece of cloth as food collecting bag. Liquid or semi-liquid things such as
                        soup, vegetables, milk or buttermilk were received in the tinpot, while cooked rice, bread,
                        and such solid things were taken in the Zoli. Baba's tongue knew no taste as he had acquired
                        control over it. Whatever things he got in his Zoli and in the tinpot were mixed together
                        and partaken by Baba to his heart's content. The food collected was poured into Kolamba - a
                        stone pot and animals and birds used to cluster around the pot to eat food. Baba never
                        prevented them from eating.</p>

                    <p>Baba begged till noon, but his begging was very irregular. Some days he went a few rounds, on
                        other days up to twelve noon.</p>

                    <p>In the afternoon, he used to walk at random and go at times to neighboring villages to the
                        houses of some of his devotees.</p>

                    <h2>Style of Teaching</h2>

                    <p>As for Sai Baba’s style of teaching, he did not deliver lectures and rarely gave formal
                        teachings. He has never written anything by way of wordy philosophy. Rather, he taught
                        orally by parable, direct experience and the example of his own life. He assures all that
                        each could experience. His Devine Love and blessings flew directly and not through any
                        intermediary. All would experience fulfillment of their worldly desires and also perfect
                        satisfaction of their craving for self realization (AATMA BODHA). There is no exception to
                        this experience.</p>

                    <p>Baba’s way is to cater directly to the needs of each individual and he did not require His
                        devotees to take up any rituals or conventionally prescribed practice, nor did he favoured
                        any particular path over another. Baba generally discouraged people from changing their
                        chosen form of worship in GOD and never advised total detachment from worldly life and
                        changeover of preference for a particular deity as GOD. He advised perfect loyalty in and
                        faith in the power and blessings of the Almighty (ALLAH MALIK) and patience for the results
                        of action (KARMA). As a result of Baba's grace, devotees experience self-generated
                        conviction and faith that whatever their desires and aspirations are, they will never go
                        unnoticed by Baba and they would not return empty-handed from SAI-COURT (DARBAR).</p>
                </div>
            </div>
        </div>
        <div class="tab7">
            <div class="tab-pane active" id="personal-belongings-tab">
                <div class="panel panel-default">

                    <div class="panel-collapse collapse in" id="collapse-personal-belongings-tab"
                        aria-expanded="true">
                        <div class="panel-body">
                            <h1>Baba’s Personal Belongings (Articles used by Baba)</h1>

                            <div class="alt-block-wrap">
                                <div class="container">
                                    <div class="row alt-block">
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Chulli"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/chulli.jpg">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Chulli</h1><br>

                                            <p class="alt-block__text">Used by Baba for preparing food (Prasad) and
                                                later distributing to gathering of devotees (Annadan).</p>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Kolamba</h1><br>

                                            <p class="alt-block__text">A stone pot which Baba used to place
                                                collected (Bhiksha). The food placed at an open place near Masjid
                                                was eaten by insects, birds and animals like dogs, cats, pigs. The
                                                remainder used to be eaten by Baba.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Kolamba"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/kolamba.jpg">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Water-Pot"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/water-pot.jpg">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Water-Pot</h1><br>

                                            <p class="alt-block__text">Used for storing water to be drunk by all the
                                                thirsty (Pan-Pot)</p>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Jata</h1><br>

                                            <p class="alt-block__text">Jata (Hand mill) a pair of stone crushers
                                                used for grinding wheat implying that the seed of Karma when crushed
                                                and transformed into floor destroys the consequences of all good and
                                                evil deeds and liberates soul from binding of Karma.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Jata"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/jata.jpg">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Udi Stand and Kathada"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/udi-stand-and-kathada.jpg">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Udi Stand and Kathada
                                                (Railing)</h1><br>

                                            <p class="alt-block__text">At Masjid where Baba used to place his hands
                                                and attended visitor artists and give them Prasad (fruits or coins
                                                and handful of udi- as the most precious, pure and powerful
                                                substance in the universe from all sorts of contamination by evil or
                                                malignancy).</p>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Baba’s Bathing Stone</h1>
                                            <br>

                                            <p class="alt-block__text">On this stone Baba used to take bath which
                                                was executed by devotees.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Baba’s Bathing Stone"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/bathing-stone.jpg">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Udi Stone and Ota"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/udi-stone-and-ota.jpg">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Udi Stone and Ota
                                                (Platform)</h1><br>

                                            <p class="alt-block__text">For burning essence sticks or udi (Loban)
                                                sticks whose fragrance was pleasant For creating a purified scented
                                                atmosphere. Baba used to sit on the platform on which udi stand was
                                                fixed.</p>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Satka (Stick)</h1><br>

                                            <p class="alt-block__text">The thick stick used by Baba to drive away
                                                evil for protecting his devotees facing calamities.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Satka"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/satka.jpg">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row alt-block">
                                        <div class="col-sm-3 col-xs-5 col-xss-12 alt-block__one">
                                            <div class="alt-block__image"><img alt="Two Copper Pots"
                                                    src="https://sai.org.in/sites/all/themes/sai/img/personal-belonging/two-copper-pots.jpg">
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-7 col-xss-12 alt-block__two">
                                            <h1 class="block-title block-title--color-3">Two Copper Pots</h1><br>

                                            <p class="alt-block__text">Used by Baba to cook Khichadi or sweet Pulav
                                                as his Prasad (Annadan)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
